<div class="container">
  <div class="row">
    <address>
      <strong>Cascade Locks Ale House</strong>
      <br> 500 WaNaPa St Cascade Locks, OR 97014
      <br> Cascade Locks, OR 97014
      <br>
      <abbr title="Phone">P:</abbr> 541-374-9310
    </address>
    <address>
      <strong>Email</strong>
      <br>
      <a href="mailto:cascadelocksalehouse@gmail.com">cascadelocksalehouse@gmail.com</a>
    </address>
  </div>
  <div class="row">
    <!-- <app-guestbook></app-guestbook> -->
    <form action="https://jumprock.co/mail/helpalger" method="post">
      <input type="text" name="email" placeholder="Email Address" />
      <input type="text" name="message" placeholder="message" />
      <input type="submit" value="Contact Us" />
    </form>
  </div>
</div>
