<div class="container">
  <div class="row">
    <p>We are located in the Heart of the Cascade Mountains. Click to open Google Maps
    </p>
  </div>
  <div class="row justify-content-md-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1172.3288122305125!2d-121.89643403890248!3d45.66520815244243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495e70dc70c4f65%3A0x60d61bcb03f2d8b5!2sCascade+Locks+Ale+House!5e0!3m2!1sen!2sus!4v1520556476773"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
