<div class="container">
  <div class="row">
    <ngb-accordion [closeOthers]="true" activeIds="static-2">
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span>&#9733;
            <b>Beer Menu</b> &#9733;</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>Hefeweizen</li>
                <li>HopHunter IPA</li>
                <li>BlackberryCider</li>
                <li>CopperlineAmber</li>
                <li>IPA</li>
                <li>Copella Porter</li>
                <li>S'more Stout</li>
                <li>CloudCap Amber</li>
                <li>Dawn of the Red IRA</li>
                <li>CDA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>Pfreim</li>
                <li>Ninkasi</li>
                <li>Mt Hood Brewery</li>
                <li>Base Camp</li>
                <li>Ecliptic</li>
                <li>Bouy</li>
                <li>Backwoods</li>
                <li>Atlas</li>
                <li>Sierra Nevada</li>
                <li>Widmer</li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span>&#9733;
            <b>Restaurant Menu</b> &#9733;</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-lg-6">
              <img src="../assets/clah_menu_front.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6">
              <img src="../assets/clah_menu_back.jpg" class="img-fluid" alt="Responsive image">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!-- Change url to cascadealehouse.com -->
              <a class="btn btn-primary" role="button" target="_self" href="http://localhost:4200/assets/clah_full_menu.pdf" download="clah_full_menu.pdf">Download Menu</a>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
