<div class="container">
  <div class="row justify-content-md-center">
    <p>We are currently accepting delivery and holding packages for PCT hikers for free.
      <br/> Check out the great hiker box in the back room. Lighten your load or restock with supplies.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <img src="../assets/hiker_box_1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-lg-6">
      <img src="../assets/hiker_box_2.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <img src="../assets/pct_hats.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
