<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <a class="navbar-brand" routerLink="/home">CLAH</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
          <span class="oi oi-home" title="Home" aria-hidden="true"></span>
          <b> Home</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fooddrink">
          <span class="oi oi-clipboard" title="Food and Drinks" aria-hidden="true"></span>
          <b> Food and Drinks</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pct">
          <span class="oi oi-signpost" title="Pacific Crest Trail" aria-hidden="true"></span>
          <b> Pacific Crest Trail</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/findus">
          <span class="oi oi-map-marker" title="map-marker" aria-hidden="true"></span>
          <b> How to find us</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/EventsAndMedia">
          <span class="oi oi-box" title="Events and Media" aria-hidden="true"></span>
          <b> Events and Media</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ContactUs">
          <span class="oi oi-envelope-closed" title="Contact Us" aria-hidden="true"></span>
          <b> Contact Us</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <span class="oi oi-cart" title="Shop" aria-hidden="true"></span> Shop - Coming Soon</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
<nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
  <div class="fb-like" data-href="https://www.facebook.com/Cascade-Locks-Ale-House-CLAH-104954456328499/" data-layout="standard"
    data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</nav>
